// /* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */ /* Import only what you need from Bulma */


body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.copyright {
    color: #858585;
    text-align: center;
    padding-top: 3%;

}


footer {
    margin-top: auto;
    color: #858585;

    a:link,
    a:visited,
    a:active {
        text-decoration: none;
    }

    a {
        color: #858585;
    }

    ul {
        display: inline;
        list-style: disc;
        margin-block-start: 1em;
        margin-left: 15%;

        li {
            list-style: none;
            display: inline;
            margin-right: 50px;
        }
    }

    ;
}