// /* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */ /* Import only what you need from Bulma */


body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.socials {
    float: left;
    width: 15%;
    margin-left: 1%;
    margin-top: 2%
}

.grid {
    width: 100%;
    margin: 0 auto;
}

.address {
    float: left;
    width: 55%;
    color: #858585;
    text-align: center;
    padding-top: 3%;

}

.siteby {
    float: left;
    width: 25%;
    color: #858585;
    text-align: right;
    padding-top: 2%;
}

footer {
    margin-top: auto;
    color: #858585;

    a:link,
    a:visited,
    a:active {
        text-decoration: none;
    }

    a {
        color: #858585;
    }

    ul {
        display: inline;
        list-style: disc;
        margin-block-start: 1em;
        margin-left: 15%;

        li {
            list-style: none;
            display: inline;
            margin-right: 50px;
        }
    }

    ;
}